{{ define "main" }}

<div class="checkout-wrapper">
    <h1>Checkout</h1>

    <h4>♡ Order before 11am for same day delivery (between 2-5pm)</h4>
    <h4>♡ 10% of all orders are donated to local charities</h4>

    <table>
        <tr>
            <td>1/2 dozen</td>
            <td align="right">$10</td>
        </tr>
        <tr>
            <td>1 dozen</td>
            <td align="right">$15</td>
        </tr>
    </table>
    <form class="checkout-form">
    </form>

    <div class="total">$0</div>
    <button type="button" class="add-group">Add more cookies</button>
    <div id="paypal-button-container"></div>
</div>

<script src="https://www.paypal.com/sdk/js?currency=CAD&client-id={{ .Site.Params.ClientId }}"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
</script>
<script type="text/javascript" src="{{"js/checkout.js" | relURL}}"></script>

{{- partial "footer.html" . -}}

{{ end }}