<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Good cookies for good causes" />
    <meta name="keywords"
        content="cookies, montreal, good cookies,the good cookie, the goood cookie, gourmet cookies, cookie delivery, delivery" />
    <meta name="author" content="BDEXPERT" />

    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link rel="shortcut icon" type="image/ico" href="{{ "img/favicon.png" | relURL}}" />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ "css/bootstrap-grid.min.css" | relURL}}" />
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relURL}}" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.gaTag }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', "{{ .Site.Params.gaTag }}");
    </script>


</head>

<body class="home-carousel">

    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    {{- block "main" . }}{{- end }}

    {{- partial "scripts.html" . -}}

</body>

</html>